@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
    /* background-image: linear-gradient(to right bottom, #4395e2, #209cde, #00a2d7, #00a7ce, #1dabc4, #3bafb8, #55b3ad, #6cb5a4, #88b89a, #a2ba96, #b8bc99, #cabea1); */
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.navItem:hover {
    background: rgba(0,0,0,.1);
    transition: 300ms all ease-in-out;
}

.gradient-text {
    display: inline-block;
    background-image: linear-gradient(to left top, #4395e2, #209cde, #00a2d7, #00a7ce, #1dabc4, #3bafb8, #55b3ad, #6cb5a4, #88b89a, #a2ba96, #b8bc99, #cabea1);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-img {
    background: url(/images/login-bg.jpg) top center;
    background-size: cover;
    /* border-radius: 0.50rem 0 0 0.5rem; */
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.fields {
    padding: 12px 20px;
    border-radius: 0.75rem;
    background: rgb(211 211 211 / 50%);
    display: block;
    margin: 10px auto;
}

a {
    text-decoration: none;
    font-weight: 600;
}

.signBtn {
    background-image: linear-gradient(to right top, #4395e2, #209cde, #00a2d7, #00a7ce, #1dabc4, #3bafb8, #55b3ad, #6cb5a4, #88b89a, #a2ba96, #b8bc99, #cabea1);
}

.bg-login {
    background: url(/images/login-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

footer {
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* HOME */