.person {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    cursor: pointer;
}

.bgPerson {
    height: 90px;
    width: 90px;
    border-radius: 100%;
    background-image: linear-gradient(to right bottom, #4395e2, #209cde, #00a2d7, #00a7ce, #1dabc4, #3bafb8, #55b3ad, #6cb5a4, #88b89a, #a2ba96, #b8bc99, #cabea1);
}

.textActive {
    display: inline-block;
    background-image: linear-gradient(to left top, #4395e2, #209cde, #00a2d7, #00a7ce, #1dabc4, #3bafb8, #55b3ad, #6cb5a4, #88b89a, #a2ba96, #b8bc99, #cabea1);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.bgPerson.closeFriend {
    background: #07B727 !important;
}

.bgPerson.noStory {
    background: #d8d8d8 !important;
}
.variant1 {
    background: url(/images/dp.jpg) top center;
    box-sizing: border-box;
}

.variant2 {
    background: url(/images/dp1.jpg) top center;
    box-sizing: border-box;
}

.variant3 {
    background: url(/images/dp2.jpg) top center;
    box-sizing: border-box;
}

.variant4 {
    background: url(/images/dp3.jpg) top center;
    box-sizing: border-box;
}

.variant5 {
    background: url(/images/dp4.jpg) top center;
    box-sizing: border-box;
}

.variant6 {
    background: url(/images/dp5.jpg) top center;
    box-sizing: border-box;
}

p.storyName {
    font-size: 13px !important;
}